<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>活动统计监控</title>
		
		<script src="../js/monitor/activeTotal.js"></script>
		
	</head>
	<body>
	
		<!-- BEGIN PAGE CONTAINER-->

		<div class="container-fluid">

			<!-- BEGIN PAGE HEADER-->

			<div class="row-fluid">

				<div class="span12">
					
					<!-- BEGIN STYLE CUSTOMIZER -->

					<div class="color-panel hidden-phone">

						<div class="color-mode-icons icon-color"></div>

						<div class="color-mode-icons icon-color-close"></div>

						<div class="color-mode">

							<p>THEME COLOR</p>

							<ul class="inline">

								<li class="color-black current color-default" data-style="default"></li>

								<li class="color-blue" data-style="blue"></li>

								<li class="color-brown" data-style="brown"></li>

								<li class="color-purple" data-style="purple"></li>

								<li class="color-grey" data-style="grey"></li>

								<li class="color-white color-light" data-style="light"></li>

							</ul>

							<label>

								<span>Layout</span>

								<select class="layout-option m-wrap small">

									<option value="fluid" selected>Fluid</option>

									<option value="boxed">Boxed</option>

								</select>

							</label>

							<label>

								<span>Header</span>

								<select class="header-option m-wrap small">

									<option value="fixed" selected>Fixed</option>

									<option value="default">Default</option>

								</select>

							</label>

							<label>

								<span>Sidebar</span>

								<select class="sidebar-option m-wrap small">

									<option value="fixed">Fixed</option>

									<option value="default" selected>Default</option>

								</select>

							</label>

							<label>

								<span>Footer</span>

								<select class="footer-option m-wrap small">

									<option value="fixed">Fixed</option>

									<option value="default" selected>Default</option>

								</select>

							</label>

						</div>

					</div>

					<!-- END BEGIN STYLE CUSTOMIZER --> 

					<!-- BEGIN PAGE TITLE & BREADCRUMB-->

					<h3 class="page-title">

						活动统计监控 <small>活动统计监控</small>

					</h3>

					<ul class="breadcrumb">

						<li>

							<i class="icon-home"></i>

							<a href="../index.html">Home</a> 

							<i class="icon-angle-right"></i>

						</li>
						
						<li>

							<i class="icon-eye-open"></i>

							实时监控 

							<i class="icon-angle-right"></i>

						</li>

						<li>
							
							<i class="icon-eye-open"></i>
							
							活动统计监控
						
						</li>

					</ul>

					<!-- END PAGE TITLE & BREADCRUMB-->

				</div>

			</div>
			
			<!-- END PAGE HEADER-->
	
			<div id="activeTotal">

				<!-- BEGIN DASHBOARD STATS -->

				<div class="row-fluid">

					<div class="span3 responsive" data-tablet="span6" data-desktop="span3">

						<div class="dashboard-stat blue">

							<div class="visual">

								<i class="icon-comments"></i>

							</div>

							<div class="details">

								<div class="number">

									<span class="acriveRunning"></span>

								</div>

								<div class="desc">                           

									当天正在运行的活动数

								</div>

							</div>

							<a class="more" href="#">

							查看详情 <i class="m-icon-swapright m-icon-white"></i>

							</a>                 

						</div>

					</div>

					<div class="span3 responsive" data-tablet="span6" data-desktop="span3">

						<div class="dashboard-stat green">

							<div class="visual">

								<i class="icon-shopping-cart"></i>

							</div>

							<div class="details">

								<div class="number">
									
									<span class="activeComplete"></span>
									
								</div>

								<div class="desc">当天已完成的活动数</div>

							</div>

							<a class="more" href="#">

							查看详情 <i class="m-icon-swapright m-icon-white"></i>

							</a>                 

						</div>

					</div>

					<div class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">

						<div class="dashboard-stat purple">

							<div class="visual">

								<i class="icon-globe"></i>

							</div>

							<div class="details">

								<div class="number">
									
									<span class="activePause" ></span>
									
								</div>

								<div class="desc">当天已开始，但已暂停的活动数</div>

							</div>

							<a class="more" href="#">

							查看详情 <i class="m-icon-swapright m-icon-white"></i>

							</a>                 

						</div>

					</div>

					<div class="span3 responsive" data-tablet="span6" data-desktop="span3">

						<div class="dashboard-stat yellow">

							<div class="visual">

								<i class="icon-bar-chart"></i>

							</div>

							<div class="details">

								<div class="number">
									
									<span class="activeTotal"></span>
									
								</div>

								<div class="desc">当天计划开始的活动数</div>

							</div>

							<a class="more" href="#">

							查看详情 <i class="m-icon-swapright m-icon-white"></i>

							</a>                 

						</div>

					</div>

				</div>

				<!-- END DASHBOARD STATS -->

				<div class="clearfix"></div>
				
			</div>
			
		</div>	
		
		<!-- END CONTAINER -->
		
	</body>
</html>
